@model Domain.Features.Carts.Summary

@{
    ViewBag.Title = "Order Submitted";
}

<h3>Order Submitted</h3>

Thank you for your order and email has been sent with details of your order.
Your order number is @(TempData["OrderNumber"]).